.sectionContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  font-family: "Montserrat";
}
.WMUDImg {
  width: 90%;
  max-width: 40vh;
  margin-bottom: 4%;
  margin-top: 5%;
  cursor: pointer;
  transition: width 0.4s;
}
.WMUDCategory {
  flex-basis: 33%;
  display: flex;
  font-size: 16px;
  line-height: 120%;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2%;
  margin-bottom: 2%;
}
.WMUDCategory ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.WMUDCategory ul li {
  padding: 2% 0;
}
.WMUDCategory h3 {
  margin: 20px auto;
  font-size: 20px;
  padding: 0 8%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: normal;
}

.itemTitle {
  font-family: "Montserrat";
}

.divider {
  height: 2px;
  width: 80%;
  color: black;
}
@media (min-width: 1024px) {
  .WMUDCategory h3 {
    width: 80%;
    height: 4vh;
    font-size: 20px;
    padding: 0 8%;
    padding-bottom: 5%;
    font-weight: normal;
  }
  .WMUDCategory {
    height: 600px;
  }
  .ImgWrapper {
    margin-top: auto;
  }
  .sectionContainer {
    flex-flow: row;
    position: relative;
  }
  .WMUDImg {
    max-width: 250px;
  }
  .WMUDImg:hover {
    width: 95%;
  }
}
@media (min-width: 1280px) {
  .WMUDImg {
    max-width: 320px;
    margin-top: auto;
  }
}
