.heroBanner {
  height: 70vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: auto 100%;
  background-image: url("../../assets/herobannerOptimizedMobile.jpg");
  position: relative;
  bottom: 0;
  left: 0;
}
.LogoBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  max-width: 400px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%);
}

@media (orientation: landscape) {
  .heroBanner {
    background-image: url("../../assets/herobannerOptimized.jpg");
  }
}

@media (min-width: 1024px) {
  .heroBanner {
    background-image: url("../../assets/herobannerOptimized.jpg");
    background-position: left bottom;
    min-height: 500px;
  }
  .LogoBanner {
    width: 50vh;
    padding: 10px;
  }
}
