.MobNavContainer {
  width: 100%;
  overflow-y: auto;
  position: absolute;
  top: 16px;
  left: 0;
  font-family: "Lato";
}

.MainList {
  list-style: none;
  padding-left: 0px;
}

.SecondaryList {
  list-style: none;
  padding-left: 8px;
}
.SecondaryList li {
  padding: 6px 0;
}

.Icon {
  margin-right: 20px;
}
.SmallIcon {
  margin-right: 10px;
}
a {
  color: inherit;
  text-decoration: none;
}
.linkActive {
  padding: 10px 20px 10px 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  background-color: tomato;
  text-decoration: none;
  margin-left: 0;
  transition: all 0.4s ease;
}

.InactiveLink {
  padding-left: 20px;
}

.root {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.PrimaryItem {
  min-height: 40px;
  font-size: 18px;
  position: relative;
  line-height: 40px;
}

.secondaryListItem {
  font-size: 16px;
  height: 5vh;
  line-height: 5vh;
}
.ProductsTertiaryList {
  display: none;
  opacity: 0;
  height: 0;
}

.active {
  color: tomato;
}
