.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  margin-top: 60px;
  background-color: #fff;
  padding: 72px 16px;
  box-sizing: border-box;
  transform: translateX(-103%);
  transition: transform 0.3s ease-out;
  box-shadow: 2px 2px 10px #ddd;
}

@media (min-width: 1024px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}
.Closed {
  transform: translateX(-103%);
}

.Closer {
  position: absolute;
  top: 2%;
  right: 6%;
}
