.ContentWrapper {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  width: 100%;
  text-align: center;
}
.sectionTitle {
  font-family: "Lato";
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.ParagraphWrap {
  padding: 2% 0 0 0;
  font-family: "Montserrat";
  width: 85%;
  margin: 0 auto;
  font-size: 16px;
}
.ImagesWrap {
  width: 90%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: center;
}
.Image {
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
}

.SeeMoreBtn {
  border-radius: 40px;
  background: linear-gradient(to right, #f3d5b8, #fe944a);
  border: none;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 200px;
  font-family: "Lato";
  transition: all 0.4s;
  cursor: pointer;
  margin: 20px auto;
  margin-top: 0px;
}
.SeeMoreBtn span {
  cursor: pointer;
  display: inline-block;
  transition: 0.4s;
  position: relative;
}
.SeeMoreBtn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.SeeMoreBtn:hover {
  background: linear-gradient(to right, #c06e34, #fe944a);
}

.SeeMoreBtn:hover span {
  padding-right: 25px;
}

.SeeMoreBtn:hover span:after {
  opacity: 1;
  right: 0;
}
.Image:hover + .SeeMoreBtn {
  background: linear-gradient(to right, #c06e34, #fe944a);
}

.Image:hover + .SeeMoreBtn span {
  padding-right: 25px;
}

.Image:hover + .SeeMoreBtn span:after {
  opacity: 1;
  right: 0;
}

.product {
  padding: 20px 0;
}

@media (min-width: 1024px) {
  .sectionTitle {
    padding-bottom: 2%;
  }
  .ParagraphWrap {
    width: 60%;
    line-height: 1.5em;
  }
  .ImagesWrap {
    margin: 0 auto 20px auto;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  .product {
    box-sizing: border-box;
    padding: 20px;
    flex-basis: 33%;
  }
}
