.FooterContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: #dfe3e5;
  position: relative;
  font-family: "Lato";
  color: #868585;
  text-align: center;
  padding: 2% 0;
}

.FooterCopyright {
  background-color: #dfe3e5;
  font-family: "Playfair Display";
  text-align: center;
  padding: 20px 0;
}
@media (min-width: 1024px) {
  .FooterContainer {
    flex-flow: row;
  }
}
