.Container {
  /* min-height: 80vh; */
  width: 80%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 1.8em;
}
.header {
  font-family: "Lato";
}

.CompanyInfo {
  margin-top: 32px;
}

.section {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 260px;
  margin: 20px auto;
  height: 60px;
  color: white;
  background: linear-gradient(to right, #f3d5b8, #fe944a);
  border-radius: 20px;
  font-size: 20px;
  font-family: "Montserrat";
}

.icon {
  margin-right: 20px;
  font-size: 20px;
}
.paragraph {
  display: block;
  font-size: 16px;
  font-family: "Montserrat";
}

@media (min-width: 1024px) {
  .Container {
    width: 60%;
  }
  .icon {
    margin-right: 20px;
    font-size: 24px;
  }
}
